# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Dataset
ai-models/ai-models/sample_sequences/Labelled_Dataset/

# VS Code
.vscode/

# OS files
.DS_Store

# Logs
*.log
events.log
server.log

# Duplicate nested directory
ai-models/ai-models/
